logging:
  level:
    root: INFO

spring:
  profiles:
    active: local
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      bootstrap-servers: localhost:9092

kafka:
  topic: kkc_message

server:
  port: 8085
